<!DOCTYPE html>
<html>
<head>
    <title>Fighter</title>
</head>
<body>
    {% if all_fighters %}
        <ul>
        {% for fighter in all_fighters %}
            <li> <a href="{{fighter.get_absolute_url}}">{{fighter.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No fighters.</p>
    {% endif %}
    <form action="scrape/" method="post">{% csrf_token %}
        <label for="fm_url">Fightmatrix url: </label>
        <input id="fm_url" type="url" name="fm_url">
        <label for="mma_url">MixedMartialArts url: </label>
        <input id="mma_url" type="url" name="mma_url">
        <input type="submit" name="submit" value="Add fighter">
    </form>
</body>
</html>